<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestión de Ejemplares</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Gestión de Ejemplares</h1>
        </div>
    </header>

    <div class="container">
        <div class="form-container" style="text-align: center;">
            <h2>Seleccione una opción</h2>
            <div class="personal-options">
                <a th:href="@{/listarEjemplares}">Ver Lista de Ejemplares</a>
                <a th:href="@{/ejemplares/nuevo}">Añadir Nuevo Ejemplar</a>
                <a th:href="@{/ejemplares/filtrar}">Filtrar Ejemplares</a>
                <a th:href="@{/ejemplares/mensajes}">Ver Mensajes de Ejemplares</a>
            </div>
            <br>
        </div>
		<a th:href="@{/menu}" class="btn btn-secondary">Volver al Menú</a>

    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Vivero Digital - Gestión de Ejemplares</p>
        </div>
    </footer>
</body>
</html>