<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menú Invitado</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Menú de Invitado</h1>
        </div>
    </header>

   

    <div class="container">
        <div class="form-container" style="text-align: center;">
            <h2>Bienvenido Administrador: <span th:text="${usuario.nombre}"></span></h2>
            <div class="admin-options">
            <a th:href="@{/plantas}">Ver Plantas</a>
            <a th:href="@{/login}">Iniciar Sesión</a>
          
               
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Vivero Digital - Panel Administrativo</p>
        </div>
    </footer>
</body>
</html>