<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Personas Registradas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

    <header class="header">
        <h1>Personas Registradas</h1>
    </header>
	<div class="container">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.id}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.credencial.usuario}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/registrar}" class="btn btn-primary">Registrar otra persona</a>
        <a th:href="@{/menu}" class="btn btn-secondary">Volver al Menú</a>
        </div>
    </div>

  

   <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Vivero Digital</p>
        </div>
    </footer>
</body>
</html>